{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.portfolio.title }}{{.}}{{end}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {{ range $.Site.Data.projects }}
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal{{ .modalID }}" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/{{ .img }}" class="img-responsive">
                </a>
            </div>
            {{ end }}
        </div>
        <div class="row text-center">
          <ul class="skills-list">
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Angular JS">
              <img src="/img/skills/angular-js.png">
            </li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="CSS 3">
              <img src="/img/skills/css3.png">
            </li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="HTML5">
              <img src="/img/skills/html5.png">
            </li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="JavaScript">
              <img src="/img/skills/javascript.png">
            </li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="MongoDB">
              <img src="/img/skills/mongodb.png">
            </li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="MySQL">
              <img src="/img/skills/mysql.png">
            </li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Node JS">
              <img src="/img/skills/node-js.png">
            </li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="React JS">
              <img src="/img/skills/react.png">
            </li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Ruby">
              <img src="/img/skills/ruby.png">
            </li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Ruby on Rails">
              <img src="/img/skills/rails.png">
            </li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="SASS">
              <img src="/img/skills/sass.png">
            </li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="font awesome">
              <img src="/img/skills/font-awesome.svg">
            </li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="go lang">
              <img src="/img/skills/golang.png">
            </li>
          </div>
      </ul>
    </div>
</section>
